*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
header{
    background-color: #ffffff;
    padding-top: 16px;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .menu-bar{
    display: flex;
    gap: 32px;
    list-style: none;
}
nav .menu-bar a{
    color: #000000;
    font-size: 16px;
    text-decoration: none;
}
.btn1{
    background-color: #469165;
    border: none;
    color: #ffffff;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}

.btn1:hover{
    background-color: #ffffff00;
    border: 1px solid #469165;
    color: #469165;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

#hero-bar{
    background: url(../assets/hero-bg.png);
    padding: 115.5px 120px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#hero-bar .hero-contant, .banner-button{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}
.banner-button{
    gap: 16px;
    margin: 32px auto 0;
}
#hero-bar .hero-contant{
    color: #ffffff;
    margin-top: 0;
}
#hero-bar .hero-contant .subtitle{
    background-color: #ffffff;
    color: #469165;
    border: none;
    border-radius: 20px;
    padding: 5px 12px;
    font-size: 16px;
    font-weight: 500;
    width: 20%;
    margin: 0 auto;
}
#hero-bar .hero-contant h1{
    margin-top: 16px;
    font-size: 72px;
    line-height: 84px;
}
#hero-bar .hero-contant span{
    color: #469165;
}
#hero-bar .hero-contant .sub2{
    margin-top: 16px;
    font-size: 15px;
    line-height: 24px;
}

.btn2{
    background-color: #469165;
    border: none;
    color: #ffffff;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}
.btn2:hover{
    background-color: #ffffff00;
    border: 1px solid #ffffff;
    color: #ffffff;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.btn3{
    background-color: #46916500;
    border: .5px solid white;
    color: #ffffff;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}
.btn3:hover{
    background-color: #469165;
    border: none;
    color: #ffffff;
    padding: 12.5px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}
#note-section{
    padding: 100px 0 0;
}
#note-section  .note-contant{
    margin: 0 auto;
    width: 71%;
    max-width: 1140px;
}
#note-section  .note-contant .note-box{
    display: flex;
    padding: 44px;
    gap: 24px;
}
.note-c{
    text-align: center;
}
.note-c h2{
    font-size: 48px;
    font-weight: 700;
}
.note-c p{
    padding-top: 12px;
    font-size: 16px;
    color: #627382;
}
.note-box .note-card{
    background-color: #ffffff;
    border-radius: 8px;
    padding: 50px  24px;
    border: none;
    box-shadow: 0 0 8px 0 #00000025 ;
    max-width: 350px;
    text-align: center;
}
.note-card .note-icon-circle{
    margin: 0 auto;
    background-color: #F95555;
    max-width: 60px;
    height: 60px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 16px;
}
.note-card .note-icon-circle img{
    width: 32px;
    height: 32px;
    /* justify-content: space-around; */
    /* display: block;  */
}
.note-card h4{
    font-size: 20px;
    color: #001931;
    margin-bottom: 20px;
}
.note-card p{
    font-size: 14px;
    color: #627382;
    line-height: 20px;
}

#brain{
    margin: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 120px 0;
}
.b-contant h5{
    color: #469165;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
}
.b-contant h1{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    padding: 16px 0;
}
.b-contant p{
    font-size: 16px;
    color: #627382;
    line-height: 20px;
    padding-bottom: 40px;
}
.s-info{
    display: flex;
    align-items: center;
    padding-bottom: 16px;
}
.s-info img{
    width: 20px;
}
.s-info h6{
    font-size: 16px;
    font-weight: 500;
}
#c-part{
    margin: 2px 0 120px 0;
}
.c-box{
    margin: 0 auto;
    max-width: 1140px;
    background-color: #F7F6F2;
    border-radius: 12px;
    border: none;
    text-align: center;
    padding: 80px 40px;
    justify-content: center;
}
.c-box h1{
    font-size: 40px;
    color: #001931;
    font-weight: 700;
    padding-bottom: 16px;
}
.c-box .c-subtitle{
    font-size: 16px;
    line-height: 24px;
    color: #627382;
    padding-bottom: 24px;
}
.end-meg{
    padding-top: 16px;
    font-size: 16px;
    color: #627382;
}